<mat-spinner
  diameter="50"
  strokeWidth="3"
  class="spinner"
  *ngIf="loading"></mat-spinner>

<mat-nav-list>
  <app-task-item
    *ngFor="let task of tasks$ | async"
    [task]="task"
    (performTask)="onPerformTask($event)"
    (selectTask)="selectedTask=$event"
    [matMenuTriggerFor]="taskMenu"
    [matMenuTriggerData]="{taskToUpdateOrDelete: selectedTask}">
  </app-task-item>
</mat-nav-list>

<mat-menu #taskMenu="matMenu" overlapTrigger="false">
  <ng-template matMenuContent let-variavelTask="taskToUpdateOrDelete">
    <button mat-menu-item (click)="showDialog(variavelTask)">
      <mat-icon>edit</mat-icon>
      <span>Update</span>
    </button>
    <button mat-menu-item (click)="onDelete(variavelTask)">
      <mat-icon>delete</mat-icon>
      <span>Remove</span>
    </button>
  </ng-template>
</mat-menu>

<button mat-fab class="fab-botton-right" (click)="showDialog()">
  <mat-icon color="primary">add</mat-icon>
</button>
